@import url("buttons_style.css");

body {
    height: 100vh;
    background-color: grey;
    background-image: linear-gradient(grey, black);
}

#system-logo {
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(158, 12, 12, 0.486);
    width: 11%;
    height: 11%;
}

hr {
    border: solid rgba(158, 12, 12, 0.486);
    box-shadow: 0px 0px 10px rgba(158, 12, 12, 0.486);
}

#top-bar {
    display: inline-block;
    width: 80vw;
    position: absolute;
    top: 11%;
    margin-left: 11px;
}

#lang-button {
    position: absolute;
    top: 9.5%;
    right: 0.5%;
    padding: 8px 12px;
}

#lang-button > img {
    display: inline-block;
}

#lang-button > lang {
    display: inline-block;
}

#contacts {
    position: absolute;
    right: 150px;
}

#about-us {
    position: absolute;
    right: 8px;
}

#button-section {
    display: inline-block;
}

#right-image {
    display: inline-block;
}

.last-buttons {
    background-color: rgba(221, 175, 23, 0.795);
    box-shadow: 0px 0px 20px rgba(221, 175, 23, 0.795);
}

.main-buttons {
    display: block;
}