@import url("../style.css");

.page {
  display: flex;
  margin-top: 2%;
}

.main-buttons {
  width: 60%;
  height: 12%;
  margin: 6% 0;
}

#food-image {
  width: 70%;
  padding-right: 4%;
}

#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  width: 130vh;
  height: 100%;
  top: 0;
  z-index: 0; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#popup-container {
  width: max-content;
  margin: auto;
  margin-top: 10%;
}

/* The Close Button */
.close {
  color: var(--red);
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 84vh;
  height: 63vh;
}

#lang-button {
  margin-right: 0;
}
