@import url("../style.css");

#history {
  display: flex;
  height: 50vh;
}

#all-histories {
  margin: 2vh;
  margin-left: 4rem;
  width: 40vh;
}

#order-list {
  display: block;
}

.history-btn {
  padding: 1rem 2rem;
  border-radius: 0%;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3vh;
}

h2 {
  font-size: 2.5vh;
}

.one-line {
  margin-left: 2vh;
}

#bill-dishes {
  margin-top: 2vh;
  margin-left: 6vh;
  width: 60%;
}

#dishes-list {
  overflow-y: scroll;
  position: absolute;
  width: 60vh;
  height: 50%;
}

#dish-info {
  display: flex;
  margin-top: 1%;
}

#dish-img {
  width: 20vh;
  padding: 5%;
}

#dish-text {
  height: 100%;
}

#remove-img {
  width: 5%;
  height: 5%;
  margin: auto;
  margin-right: 5%;
}

.footer-btn {
  margin-left: 5vh;
  margin-top: 8vh;
}
